<!DOCTYPE html>
<html>

  {% include head.html %}

 <body data-spy="scroll" data-target="#myAffix"> 
  <!--<body> --> 
  
    {% include header.html %}
    
    <div id="main" class="container main" style="width: 100%; height: 100%;">
      {{ content }}
    </div>
    
    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
      <a href="#">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

    {% include newpost.html %}
   
    {% include analytics.html %}
  </body>
</html>
